<aside>
    <section class="page-section portfolio  text-white mb-0">
       
        <div class="container">

            <div id="addsList" >
                <% for (let i in addsList){%>
               
                    <div class="border border-info rounded " id="addBox">
                        <%= addsList[i].title%>
                        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail"></svg> -->
                        <img  class="rounded" src="<%=addsList[i].img%>" width=" 100%" height="225"></img>
                        
                        <div> <a class="btn btn-primary " href="http://<%= addsList[i].link%>">read
                                more</a>
                        </div>

                    </div>
                
                <%}%> 
            </div>

              
        </div>
        
    </section>

</aside>