<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content=""> 
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <!-- <link rel="stylesheet" href="stavkpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrapmin.css"> -->


        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon.png">
        <!-- Font Awesome icons (free version)-->
        <script src="https://kit.fontawesome.com/5ffe3d092c.js" crossorigin="anonymous"><i rel="icon" class="fas fa-igloo"></i> </script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet">
        
        <!-- Fonts CSS-->
        <link rel="stylesheet" href="/css/heading.css">
        <link rel="stylesheet" href="/css/body.css">
    </head>
    